In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import datetime as dt

In [2]:
df = pd.read_csv('./Data/Base_datos_Reciclaje.csv')

df.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede,Unnamed: 6,Unnamed: 7
0,2016-01-28,Chatarra,3230,Metales,Recuperar,NaN,NaN,NaN
1,2016-01-28,Aluminio,24,Metales,Recuperar,NaN,NaN,NaN
2,2016-01-28,Palos de Escoba,0,Otros,Recuperar,NaN,NaN,NaN
3,2016-01-28,Plega,27,Papeles y Cartones,Recuperar,NaN,NaN,NaN
4,2016-01-28,Plega,114,Papeles y Cartones,Recuperar,NaN,NaN,NaN

In [3]:
df = df.sort_values(
    by='Fecha'
)

df.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede,Unnamed: 6,Unnamed: 7
0,2016-01-28,Chatarra,3230,Metales,Recuperar,NaN,NaN,NaN
11,2016-01-28,Vidrio,1072,Vidrios,Recuperar,NaN,NaN,NaN
10,2016-01-28,Pasta,529,Plásticos,Recuperar,NaN,NaN,NaN
9,2016-01-28,Plástico,326,Plásticos,Recuperar,NaN,NaN,NaN
7,2016-01-28,Archivo,2409,Papeles y Cartones,Recuperar,NaN,NaN,NaN

In [4]:
#df.to_csv('Data/dani.csv', index = False)

# Aqui cambiaremos los NaN de sede por Medellín

In [5]:
Dict = {
    'Volador' : 'Volador',
    'Robledo' : 'Robledo',
    np.nan : 'Medellín'
}
df['Sede'] = df['Sede'].map(Dict, na_action = None)

df.head(8)

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede,Unnamed: 6,Unnamed: 7
0,2016-01-28,Chatarra,3230,Metales,Recuperar,Medellín,NaN,NaN
11,2016-01-28,Vidrio,1072,Vidrios,Recuperar,Medellín,NaN,NaN
10,2016-01-28,Pasta,529,Plásticos,Recuperar,Medellín,NaN,NaN
9,2016-01-28,Plástico,326,Plásticos,Recuperar,Medellín,NaN,NaN
7,2016-01-28,Archivo,2409,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
6,2016-01-28,Cartón,858,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
8,2016-01-28,Plega,48,Plásticos,Recuperar,Medellín,NaN,NaN
4,2016-01-28,Plega,114,Papeles y Cartones,Recuperar,Medellín,NaN,NaN

In [6]:
lista = list()

for i in list(df['Cantidad_kg']):
    a = str(i).replace(',','.')
    b = a.split('.')
    if len(b) == 3:
        num = b[0] + b[1] + '.' + b[2]
    elif len(b) ==1:
        num = b[0]
    else:
        num = b[0] + '.' + b[1]
    lista.append(float(num))

df['Cantidad_kg'] = lista

df[df['Nombre_Material'] == 'Cartón']

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede,Unnamed: 6,Unnamed: 7
6,2016-01-28,Cartón,858.0,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
18,2016-02-28,Cartón,1759.0,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
30,2016-03-28,Cartón,831.0,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
42,2016-04-28,Cartón,1180.0,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
54,2016-05-28,Cartón,1130.0,Papeles y Cartones,Recuperar,Medellín,NaN,NaN
...,...,...,...,...,...,...,...,...
1190,2022-10-28,Cartón,585.6,Papeles y Cartones,Recimed,Volador,NaN,NaN
1234,2022-11-28,Cartón,162.4,Papeles y Cartones,Recimed,Robledo,NaN,NaN
1223,2022-11-28,Cartón,459.2,Papeles y Cartones,Recimed,Volador,NaN,NaN
1257,2022-12-28,Cartón,102.0,Papeles y Cartones,Recimed,Robledo,NaN,NaN
1246,2022-12-28,Cartón,547.4,Papeles y Cartones,Recimed,Volador,NaN,NaN

# Eliminar repetidos

In [7]:
df.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede,Unnamed: 6,Unnamed: 7
0,2016-01-28,Chatarra,3230.0,Metales,Recuperar,Medellín,NaN,NaN
11,2016-01-28,Vidrio,1072.0,Vidrios,Recuperar,Medellín,NaN,NaN
10,2016-01-28,Pasta,529.0,Plásticos,Recuperar,Medellín,NaN,NaN
9,2016-01-28,Plástico,326.0,Plásticos,Recuperar,Medellín,NaN,NaN
7,2016-01-28,Archivo,2409.0,Papeles y Cartones,Recuperar,Medellín,NaN,NaN

In [8]:
k = df.groupby(['Fecha', 'Operador_logistíco', 'Sede', 'Nombre_Categoria', 'Nombre_Material']).sum()

k.to_csv('Data/dataframe.csv')

/tmp/ipykernel_8413/2409455632.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  k = df.groupby(['Fecha', 'Operador_logistíco', 'Sede', 'Nombre_Categoria', 'Nombre_Material']).sum()

In [9]:
calendar = {
    '01': 'Ene',
    '02': 'Feb',
    '03': 'Mar',
    '04': 'Abr',
    '05': 'May',
    '06': 'Jun',
    '07': 'Jul',
    '08': 'Ago',
    '09': 'Sept',
    '10': 'Oct',
    '11': 'Nov',
    '12': 'Dic'
}

dv = pd.read_csv('Data/dataframe.csv')

dv['YEAR'] = [i.split('-')[0] for i in list(dv['Fecha'])]
dv['MONTH'] = [calendar[i.split('-')[1]] for i in list(dv['Fecha'])]

dv.to_csv('Data/dataframe.csv', index=False)