In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
dani = pd.read_csv('Data/Base_datos_Daniel.csv')

dani.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2016-01-28,Plástico,326,Plásticos,Recuperar,NaN
1,2016-01-28,Vidrio,1072,Vidrios,Recuperar,NaN
2,2016-01-28,Chatarra,3230,Metales,Recuperar,NaN
3,2016-01-28,Cartón,858,Papeles y Cartones,Recuperar,NaN
4,2016-01-28,Periódico,372,Papeles y Cartones,Recuperar,NaN

In [3]:
dani = dani.sort_values(
    by='Fecha'
)

dani.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2016-01-28,Plástico,326,Plásticos,Recuperar,NaN
11,2016-01-28,Aluminio,24,Metales,Recuperar,NaN
10,2016-01-28,Palos de Escoba,0,Otros,Recuperar,NaN
9,2016-01-28,Plega,114,Papeles y Cartones,Recuperar,NaN
7,2016-01-28,Plega,48,Plásticos,Recuperar,NaN

In [6]:
k = dani.groupby(['Fecha', 'Nombre_Material', 'Nombre_Categoria', 'Operador_logistíco','Sede']).apply(lambda x: x.duplicated(keep = False)).sum().rename('Cantidad_kg').reset_index()

k

AttributeError: 'numpy.int64' object has no attribute 'rename'

In [6]:
dani.to_csv('Data/Base_datos_Daniel.csv', index=False)