In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
dani = pd.read_csv('Data/Base_datos_Daniel.csv')

dani.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2016-01-28,Plástico,326,Plásticos,Recuperar,NaN
1,2016-01-28,Aluminio,24,Metales,Recuperar,NaN
2,2016-01-28,Palos de Escoba,0,Otros,Recuperar,NaN
3,2016-01-28,Plega,114,Papeles y Cartones,Recuperar,NaN
4,2016-01-28,Plega,48,Plásticos,Recuperar,NaN

In [3]:
dani = dani.sort_values(
    by='Fecha'
)

dani.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2016-01-28,Plástico,326,Plásticos,Recuperar,NaN
11,2016-01-28,Pasta,529,Plásticos,Recuperar,NaN
10,2016-01-28,Vidrio,1072,Vidrios,Recuperar,NaN
9,2016-01-28,Chatarra,3230,Metales,Recuperar,NaN
7,2016-01-28,Periódico,372,Papeles y Cartones,Recuperar,NaN

In [7]:
lista = list()

for j in range(0, dani['Fecha'].count(), 1):
    lista.append([dani['Fecha'][j], dani['Nombre_Material'][j], dani['Nombre_Categoria'][j], dani['Operador_logistico'][j], dani['Sede'][j]])

print(lista)

KeyError: 'Operador_logistico'

In [27]:
def checkSimilar(lista, listb):
    for i in range(0, len(listb), 1):
        zero = 0
        if lista != listb[i]:
            for j in range(0, len(lista), 1):
                if (lista[j] == listb[i][j]):
                    zero += 1
    return zero >= len(lista) -1

In [26]:
matrix = list()

for i in range(0, dani['Fecha'].count(), 1):
    if len(matrix) == 0:
        matrix.append(list(dani.iloc[i]))
    else:
        if checkSimilar(list(dani.iloc[i]), matrix):
            print(list(dani.iloc[i]))            
        else:
            matrix.append(list(dani.iloc[i]))

['2022-06-28', 'Aluminio', '0,00', 'Metales', 'Recimed', 'Volador']
['2022-06-28', 'Aluminio', '0,00', 'Metales', 'Recimed', 'Volador']
['2022-07-28', 'Aluminio', '0,00', 'Metales', 'Recimed', 'Robledo']
['2022-07-28', 'PVC', '0,00', 'Otros', 'Recimed', 'Robledo']
['2022-07-28', 'Palos de Escoba', '0,00', 'Otros', 'Recimed', 'Volador']
['2022-08-28', 'Aluminio', '27,40', 'Metales', 'Recimed', 'Volador']
['2022-08-28', 'Aluminio', '10,80', 'Metales', 'Recimed', 'Volador']

In [6]:
dani.to_csv('Data/Base_datos_Daniel.csv', index=False)