In [37]:
import numpy as np
import pandas as pd
import datetime as dt

In [38]:
df = pd.read_csv('./dani.csv')

df.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2016-01-28,Cartón,858,Papeles y Cartones,Recuperar,Medellín
1,2016-01-28,Pasta,529,Plásticos,Recuperar,Medellín
2,2016-01-28,Plega,48,Plásticos,Recuperar,Medellín
3,2016-01-28,Chatarra,3230,Metales,Recuperar,Medellín
4,2016-01-28,Plega,27,Papeles y Cartones,Recuperar,Medellín

In [39]:
df = df.sort_values(
    by='Fecha'
)

df.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2016-01-28,Cartón,858,Papeles y Cartones,Recuperar,Medellín
11,2016-01-28,Plástico,326,Plásticos,Recuperar,Medellín
10,2016-01-28,Plega,114,Papeles y Cartones,Recuperar,Medellín
9,2016-01-28,Periódico,372,Papeles y Cartones,Recuperar,Medellín
7,2016-01-28,Vidrio,1072,Vidrios,Recuperar,Medellín

In [40]:
df.to_csv('dani.csv', index = False)

# Aqui cambiaremos los NaN de sede por Medellín

In [ ]:
Dict = {
    'Volador' : 'Volador',
    'Robledo' : 'Robledo',
    np.nan : 'Medellín'
}
df['Sede'] = df['Sede'].map(Dict, na_action = None)

df

In [50]:
lista = list()

for i in list(df['Cantidad_kg']):
    a = i.replace(',','.')
    b = a.split('.')
    if len(b) == 3:
        num = b[0] + b[1] + '.' + b[2]
    elif len(b) ==1:
        num = b[0]
    else:
        num = b[0] + '.' + b[1]
    lista.append(float(num))
    
df['Cantidad_kg'] = pd.Series(lista)

df

AttributeError: 'float' object has no attribute 'replace'

# Eliminar repetidos

In [52]:
df = pd.read_csv('./david.csv')

df.head()

,Fecha,Operador_logistíco,Sede,Nombre_Categoria,Nombre_Material,Cantidad_kg
0,2016-01-28,Recuperar,Medellín,Metales,Aluminio,3230.0
1,2016-01-28,Recuperar,Medellín,Metales,Chatarra,372.0
2,2016-01-28,Recuperar,Medellín,Otros,Palos de Escoba,2409.0
3,2016-01-28,Recuperar,Medellín,Papeles y Cartones,Archivo,24.0
4,2016-01-28,Recuperar,Medellín,Papeles y Cartones,Cartón,858.0

In [53]:
k = df.groupby(['Fecha', 'Operador_logistíco', 'Sede', 'Nombre_Categoria', 'Nombre_Material']).sum()

k

                                                                           Cantidad_kg
Fecha      Operador_logistíco Sede     Nombre_Categoria   Nombre_Material
2016-01-28 Recuperar          Medellín Metales            Aluminio              3230.0
                                                          Chatarra               372.0
                                       Otros              Palos de Escoba       2409.0
                                       Papeles y Cartones Archivo                 24.0
                                                          Cartón                 858.0
...                                                                                ...
2022-12-28 Recimed            Volador  Papeles y Cartones Plega                  304.5
                                       Plástico           PET                    179.0
                                                          PVC                      0.0
                                                          Vaso desechable         10.0
                                       Vidrio             Vidrio                 256.7

[1490 rows x 1 columns]

In [55]:
k.to_excel('./david.xlsx', index=True)

In [54]:
k.to_csv('./david.csv', index=True)